[Unit]

Description=uWSGI Instance for ShareX-CustomUpload
After=network.target

[Service]
User=ADD_USER_HERE
Group=www-data
WorkingDirectory=ADD_DIRECTORY_HERE
Environment="PATH=ADD_DIRECTORY_HERE/ENV_FOLDER/bin"
ExecStart=ADD_DIRECTORY_HERE/ENV_FOLDER/bin/uwsgi --ini ShareXUploader.ini

[Install]
WantedBy=multi-user.target
