[Unit]

Description=uWSGI Instance for ShareX-CustomUpload
After=network.target[service]
User=ADD_USER_HERE
Group=ADD_USER_HERE
WorkingDirectory=ADD_DIRECTORY_HERE
Environment="PATH=