[Unit]

Description=uWSGI Instance for ShareX-CustomUpload
After=network.target[service]

[Service]
User=ADD_USER_HERE
Group=ADD_USER_HERE
WorkingDirectory=ADD_DIRECTORY_HERE
Environment="ADD_DIRECTORY_HERE/ENV_FOLDER/bin"
ExecStart=ADD_DIRECTORY_HERE/ENV_FOLDER/bin/uwsgi --ini ShareXUploader.ini

[Install]
WantedBy=multi-user.target
